.Hero {
    height: 750px;
    background-image: url('../../../assets/hero/hero-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.hero-wrapper h1 {
    font-family: 'Lavishly Yours', cursive;
    font-size: 4rem;
    font-weight: 500;
}

.hero-wrapper h3 {
    font-size: 16px;
}

.hero-wrapper h1,
.hero-wrapper h3,
.hero-wrapper p {
    color: #4C2160;
}

.hero-wrapper p {
    text-align: center;
    padding: 1rem 5rem;
}

.hero-wrapper button {
    padding: 0.75rem 1rem;
    border: 0;
    background-color: #4C2160;
    color: white;
    font-size: 14px;
}

.hero-wrapper button:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .Hero {
        height: 100svh;
        background-image: url('../../../assets/hero/hero-mobile-background.jpg');
    }

    .hero-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 420px) {
    .hero-wrapper h1 {
        font-size: 3rem;
    }

    .hero-wrapper h3 {
        font-size: 14px;
    }

    .hero-wrapper p {
        padding: 1rem 1rem;
        font-size: 12px;
    }

}