.PopularItems {
    flex-direction: column;
    display: flex;
    padding: 5rem 0 3rem 0;
}

.PopularItems h4,
.PopularItems p {
    margin: 0;
    text-align: center;
}

.PopularItems p {
    font-size: 12px;
}

.popular-items-list {
    margin: 1.5rem 0;
    display: flex;
    padding: 1.5rem 1rem;
    overflow-x: scroll;
    justify-content: flex-start;
}

.popular-item-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: 0 0 18px 3px #e5e5e5;
    border-radius: 8px;
    margin: 0 1rem;
    justify-content: space-around;
    transition: box-shadow .5s ease-in-out;
}

.popular-item-card:hover {
    cursor: pointer;
    box-shadow: 0 0 18px 3px #adadad;
}

.popular-item-card img {
    width: 150px;
}

.popular-item-card p {
    margin: .5rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
}

.popular-item-card span {
    font-size: 14px;
}

.popular-item-card button {
    padding: .5rem 1rem;
    margin: 1rem 0;
    width: fit-content;
    background-color: #4C2160;
    color: white;
    border-radius: 5px;
}

@media (max-width: 425px) {
    .popular-item-card {
        width: 117px;
    }

    .popular-item-card img {
        width: 100px;
    }

    .popular-item-card button {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .popular-item-card {
        width: 96px;
    }
}

@media (max-width: 315px) {
    .popular-item-card {
        width: 100%;
    }
}